{% extends "base.html.twig" %}

{% block body %}
    <h1>Logjin Form :</h1>

    <form  action="{{path('security_login')}}" method="post">
     <div class="form-group">
       <input type="email" class="form-class" placeholder="saisi votre mail ..." required name="_username">
    </div>
     <div class="form-group">
       <input type="password" class="form-class" placeholder="saisi votre password ..." required name="_password">
    </div>

     <div class="form-group">
       <button type="submit" class="btn btn-primary" >Connection </button>
    </div>
    </form>
{% endblock %}